body {
    font-family: Arial, Helvetica, sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr;
    gap: 10px;
}
.child {
    background-color: #ff737a;
    margin: auto;
}
header { 
    grid-area: top;
}
nav {
    grid-area: lside;
}
main {
    grid-area: middle;
}
footer {
    grid-area: bottom;
}