body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background: #a585d4;
    padding: 0.75rem 0;
}
nav a {
    display: block;
    color: #fbf8ff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}
nav a:hover {
    color: #8011f7;
}
.row {
    display: flex;
    flex-flow: row wrap;
}
.sidebar {
    width: 200px;
}
.row {
    display: flex;
    flex-flow: row wrap;
}
.card img {
    width: 100%;
}
.card {
    width: 200px;
    background: #e8e8eb;
    border: 1px solid #000000;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(54, 54, 54, 0);
    overflow: hidden;
    text-align: center;
    margin: 10px;
}
.main-row {
    display: flex;
}

@media ONLY screen AND (max-width: 500px) {
    nav {
        flex-direction: column;
    }
    .main-row {
        flex-direction: column-reverse;
    }
    .sidebar {
        display: none;
    }
    .card {
        width: 100%;
    }
}